@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
    background: #fff;
    font-size: 16px;
}

.logo {
    width: 90.6px; 
    height: 26.9px;
    filter: brightness(1 , 1 , 1 , 0.1);
    position: center;
}
.menu {
     font-family: 'Roboto', 700, sans-serif;
     text-decoration: bold;
     font-size: 16px;
     color: #000;
     text-transform: none;
}